<!--
/*
============================================
; Title:  app.component.html (WK 6)
; Author: Professor Krasso
; Modified By: Aaron Wilson
; Date: 12 August 2019
; Description: Output Properties HTML file.
; Credits: All images provided by Pexels.com
;===========================================
*/
-->

<div class="container">
  <!-- Material Design ToolBar -->
  <mat-toolbar class="toolbar" color="accent">
      <mat-toolbar-row class="menu">
        <button mat-icon-button>
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        </button>
        <h1>Aaron's Stock Output Price App</h1>
        <span class="menu-spacer"></span>
        <div>

          <a mat-button class="links" [routerLink]="'/'"><mat-icon>home</mat-icon> Home </a>
          <a mat-button class="links" [routerLink]="'/order'"><mat-icon>credit_card</mat-icon> Order </a>

        </div>
      </mat-toolbar-row>

      <mat-toolbar-row class="motto">
        <span style="font-size: 16px;">This Stock Price Application helps you see your stock prices.</span>
      </mat-toolbar-row>
    </mat-toolbar>

  <!-- Material Design SideNav -->
  <mat-sidenav-container>
    <mat-sidenav class="sidenav" #drawer mode="side" opened role="navigation">
      <mat-nav-list>

        <a mat-list-item class="links" [routerLink]="'/profile'"><mat-icon class="nav-button">perm_contact_calendar</mat-icon> My Profile </a>

        <a mat-list-item class="links" [routerLink]="'/settings'"><mat-icon class="nav-button">settings</mat-icon> Settings </a>

        <a mat-list-item class="links" (click)="drawer.toggle()" href="" mat-list-item><mat-icon class="nav-button">exit_to_app</mat-icon> Close </a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
