<!--
/*
============================================
; Title:  settings.component.html (WK 7)
; Author: Professor Krasso
; Modified By: Aaron Wilson
; Date: 20 August 2019
; Description: Template Forms HTML file.
; Credits: All images provided by Pexels.com
;===========================================
*/
-->

<div class="card-container">
  <mat-card class="settings-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar-header-image"></div>
      <mat-card-title> Configure The Settings? </mat-card-title>
      <mat-card-subtitle> OnChange Events App Settings Page </mat-card-subtitle>
    </mat-card-header>
    <img class="settings-img" mat-card-image src="../../assets/images/pexels-settings.jpeg" alt="Photo of settings">
    <mat-card-content>
      <p>
      Configure the settings here. Come here if you need
      to fix the OnChange Events App.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

