/*
============================================
; Title:  home.component.css (WK 7)
; Author: Professor Krasso
; Modified By: Aaron Wilson
; Date: 20 August 2019
; Description: Template Forms CSS file.
; Credits: All images provided by Pexels.com
;===========================================
*/

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-card {
  max-width: 620px;
  min-height: 75vh;
  margin: 0 auto;
  color: black;
  background-color: white;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.205);
  box-shadow: 5px 6px 10px 3px rgba(0,0,0,0.4);
}

.avatar-header-image {
  background-image: url('../../assets/images/pexels-home-avatar.jpg');
  background-size: cover;
}

.home-img {
  height: 20vh;
  max-width: 320px;
}

/*.user-input {
  max-width: 320px;
  max-height: 275px;
  background-color: rgb(200, 217, 236);
  padding: 10px 0 20px 10px;
}*/

.form-example {
  display: flex;
  flex-direction: column;
  max-height: 275px;
  background-color: rgb(200, 217, 236);
  padding: 10px 0 20px 10px;
}

.form-example > * {
  width: 65%;
}

input {
  width: 100%;
  background-color: white;
  margin-bottom: 4px;
}
