<!--
/*
============================================
; Title:  home.component.html (WK 6)
; Author: Professor Krasso
; Modified By: Aaron Wilson
; Date: 12 August 2019
; Description: Input Properties HTML file.
; Credits: All images provided by Pexels.com
;===========================================
*/
-->

<div class="card-container">
  <mat-card class="home-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar-header-image"></div>
      <mat-card-title> Welcome Home! </mat-card-title>
      <mat-card-subtitle> Stock Price App Home Page </mat-card-subtitle>
    </mat-card-header>
    <img class="home-img" mat-card-image src="../../assets/images/pexels-home.jpeg" alt="Photo of a house">
    <mat-card-content>
      <p>
      Check out Aaron's newly developed and improved Stock Prices Application. Come here if you need
      to find out a price of a particular stock price.
      </p><br>
      <div class="stock-input">
        <p>
        Enter in a stock below:
        </p>

        <input type="text" placeholder="Enter stock (e.g. AAPL)" (change)="onChangeEvent($event)" >
        <br>
        <app-order [stockSymbol]="stock" [quantity]="numberOfShares"></app-order>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
