<!--
/*
============================================
; Title:  user.component.html (WK 6)
; Author: Professor Krasso
; Modified By: Aaron Wilson
; Date: 12 August 2019
; Description: OnChange Events HTML file.
; Credits: All images provided by Pexels.com
;===========================================
*/
-->

<div class="card-container">
    <mat-card class="user-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar-header-image"></div>
        <mat-card-title> Who's The User? </mat-card-title>
        <mat-card-subtitle> OnChange Events App User Page </mat-card-subtitle>
      </mat-card-header>
      <img class="user-img" mat-card-image src="../../assets/images/pexels-prices.jpeg" alt="Photo of user">
      <mat-card-content>
        <p>
        Check out Aaron's newly developed and improved OnChange Events Application. Come here if you need
        to find out about a particular user.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
