/*
============================================
; Title:  user.component.css (WK 6)
; Author: Professor Krasso
; Modified By: Aaron Wilson
; Date: 12 August 2019
; Description: OnChange Events CSS file.
; Credits: All images provided by Pexels.com
;===========================================
*/

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user-card {
  max-width: 320px;
  min-height: 75vh;
  color: black;
  background-color: white;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.205);
  box-shadow: 5px 6px 10px 3px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.avatar-header-image {
  background-image: url('../../assets/images/pexels-price-avatar.jpg');
  background-size: cover;
}

.user-img {
  height: 25vh;
  max-width: 320px;
}
